<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete an employee</title>
</head>
<body>
    <h1> Delete an employee </h1>
    Please select the employee's ID you want to delete :<br>
    <form action="/delete/employees" method="POST"> 
        <select name="empID">
            <% for (var i=0; i< item.length; i++){%>
                 <option value="<%= item[i].empID %>"><%= item[i].empID %></option>
            <%}%>
        </select>
        <input type="submit" name="Submit"> 
    
    </form>
</body>
</html>