<!DOCTYPE html>
<html lang="en">

<head>
    <style> <%- css.style %> </style> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a book</title>
</head>
<body>
    <h1> Delete a book </h1>
    Please select the ISBN of the book you want to delete : <br><br>
    <form action="/delete/books" method="POST"> 
        <select name="ISBN">
        <% for (var i=0; i< item.length; i++){%>
            <option value="<%= item[i].ISBN %>"><%= item[i].ISBN %></option>
        <%}%>
        </select>
        <input type="submit" name="Submit" class = "submit"> 
    
    </form>
</body>
</html>