<!DOCTYPE html>
<html lang="en">

<head>
    <style> <%- css.style %> </style> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a member</title>
</head>
<body>
    <h1> Delete a member </h1>
    Please select the members's ID you want to delete :<br><br>
    <form action="/delete/members" method="POST"> 
        <select name="memberID">
                <% for (var i=0; i< item.length; i++){%>
                    <option value="<%= item[i].memberID %>"><%= item[i].memberID %></option>
                <%}%>
        <input type="submit" name="Submit" class = "submit"> 
        </select>
    </form>
</body>
</html>