<!DOCTYPE html>
<html lang="en">
<head>
    <style> <%- css.style %> </style> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unsuccess</title>
</head>
<body>
    <h1>Member Cannot Borrow</h1>
    <p>The member has <%=row[0].totalcopies%> Books borrowed and <%=row[0].expired%> have exceeded the borrowing period</p>
    <h1><h1><button onclick="location.href='/index.html'"> Go Back To Home </button></h3></h1>
</body>
</html>