<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Send Remind</title>
</head>
<body>
    <h2>In order to send remind, please select your Employee ID </h2>
    <form action="/insert/reminder" method="POST">
        <select name= 'employee'>
            <% for (var i=0; i< item.length ;i++) { %>
                <option value= '<%= item[i].empID %>'> <%= item[i].empID %> </option>
            <% } %>
        </select> <br> <br>
        <input type="submit" name="Submit">   
    </form> 
</body>
</html>