<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>See <%= table %></title>
</head>
<body>
    <h1> See the <%= table %> database</h1>
    <h3> Get Data</h3>
    {{# each items }}
        Title : {{this.memberID}}
        {{/each}}
</body>
</html>