<!DOCTYPE html>
<html lang="en">
<head>
        <style> <%- css.style %> </style> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
    <h1>You have successfully <%= action %>  <%= type %></h1>
   
    <h2><button onclick="location.href='/index.html'"> Go Back To Home </button></h2>
</body>
</html>